.DShyMc-MTY4MzI3NjgyNTZa.bFjUmb-Ysl7Fe, .DShyMc-MTY4MzI3NjgyNTZa .bFjUmb-Ysl7Fe {
 background-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa.bFjUmb-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa .bFjUmb-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd.bFjUmb-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd .bFjUmb-Wvd9Cc {
 background-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa.bFjUmb-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa .bFjUmb-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd.bFjUmb-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd .bFjUmb-Tvm9db {
 background-color: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa.yxp05b-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd.yxp05b-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa .yxp05b-Wvd9Cc {
 border-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa.VnOHwf-Ysl7Fe, .DShyMc-MTY4MzI3NjgyNTZa .VnOHwf-Ysl7Fe, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd .VnOHwf-Ysl7Fe {
 color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa.VnOHwf-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa .VnOHwf-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd .VnOHwf-Wvd9Cc {
 color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa.VnOHwf-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa .VnOHwf-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd .VnOHwf-Tvm9db {
 color: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa .tgNIJf-Ysl7Fe:focus {
 border-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .tgNIJf-Wvd9Cc:focus {
 border-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .u3bW4e .zZN2Lb-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa .zZN2Lb-Wvd9Cc:focus, .DShyMc-MTY4MzI3NjgyNTZa .maXJsd:focus .zZN2Lb-Wvd9Cc {
 color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .P3W0Dd-Ysl7Fe:focus, .DShyMc-MTY4MzI3NjgyNTZa.maXJsd:focus .P3W0Dd-Ysl7Fe, .DShyMc-MTY4MzI3NjgyNTZa .maXJsd:focus .P3W0Dd-Ysl7Fe {
 background-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .VBEdtc-Wvd9Cc:hover, .DShyMc-MTY4MzI3NjgyNTZa.MymH0d:hover .VBEdtc-Wvd9Cc, .DShyMc-MTY4MzI3NjgyNTZa .MymH0d:hover .VBEdtc-Wvd9Cc {
 color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa.MymH0d:hover .UISY8d-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa.CNpREd.MymH0d:hover .UISY8d-Tvm9db, .DShyMc-MTY4MzI3NjgyNTZa .MymH0d:hover .UISY8d-Tvm9db {
 background-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .UISY8d-Ysl7Fe:hover, .DShyMc-MTY4MzI3NjgyNTZa.MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-MTY4MzI3NjgyNTZa .MymH0d:hover .UISY8d-Ysl7Fe {
 background-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .mxmXhf {
 color: #1967d2;
 fill: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa .EmVfjc.qs41qe .wKSUOe, .DShyMc-MTY4MzI3NjgyNTZa .EmVfjc.sf4e6b .wKSUOe {
 -webkit-animation-name: quantumWizSpinnerFillUnfill, quantumWizSpinnerRot;
 animation-name: quantumWizSpinnerFillUnfill, quantumWizSpinnerRot;
 stroke: #4285f4;
}
.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ).MNJL5c.boxOzd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ).MNJL5c.idtp4e,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ).MNJL5c .boxOzd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ).MNJL5c .idtp4e,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D:focus,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D.MNJL5c.boxOzd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D.MNJL5c.idtp4e,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D.MNJL5c .boxOzd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D.MNJL5c .idtp4e {
 background-color: #e8f0fe;
}
.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.j6KDAd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.idtp4e,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .j6KDAd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .idtp4e,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D:hover,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D:hover.j6KDAd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D:hover.idtp4e,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D:hover .j6KDAd,.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .ZoT1D:hover .idtp4e {
 background-color: #e8f0fe;
}
.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .nRLOzd:hover, .mIwOed .DShyMc-MTY4MzI3NjgyNTZa .nRLOzd:hover *, .mIwOed .DShyMc-MTY4MzI3NjgyNTZa .nRLOzd:focus, .mIwOed .DShyMc-MTY4MzI3NjgyNTZa .nRLOzd:focus * {
 color: #1967d2
}
.DShyMc-MTY4MzI3NjgyNTZa .ra2NV {
 background-image: radial-gradient( 40rem 30rem ellipse at bottom right,#4285f4, transparent );
}
.DShyMc-MTY4MzI3NjgyNTZa .jgGPR:after {
 border-color: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa .zKHdkd .cXrdqd {
 background-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .zKHdkd .zHQkBf:not([disabled]):focus ~ .snByac, .DShyMc-MTY4MzI3NjgyNTZa .edhGSc.u3bW4e > .oJeWuf > .snByac {
 color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .bkIpNd .uHMk6b {
 border-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .zJKIV .nQOrEb, .DShyMc-MTY4MzI3NjgyNTZa .zJKIV.RDPZE .nQOrEb, .DShyMc-MTY4MzI3NjgyNTZa .zJKIV.N2RpBe .Id5V1, .DShyMc-MTY4MzI3NjgyNTZa .LsSwGf:not(.RDPZE).N2RpBe .espmsb {
 border-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .LsSwGf:not(.RDPZE).N2RpBe > .MLPG7 {
 border-color: #4285f4;
 opacity: .50;
}
.DShyMc-MTY4MzI3NjgyNTZa .zJKIV.i9xfbb > .MbhUzd, .DShyMc-MTY4MzI3NjgyNTZa .zJKIV.u3bW4e > .MbhUzd, .DShyMc-MTY4MzI3NjgyNTZa .LsSwGf.i9xfbb > .MbhUzd, .DShyMc-MTY4MzI3NjgyNTZa .LsSwGf.u3bW4e > .MbhUzd {
 background-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .HQ8yf:not(.RDPZE), .DShyMc-MTY4MzI3NjgyNTZa .HQ8yf:not(.RDPZE) a {
 color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .HQ8yf.u3bW4e .CeoRYc {
 background-color: #4285f426;
}
.DShyMc-MTY4MzI3NjgyNTZa .HQ8yf .MbhUzd {
 background-image: radial-gradient( circle farthest-side,#4285f43f,#4285f43f 80%,#4285f4 100% );
}
.mIwOed .DShyMc-MTY4MzI3NjgyNTZa .uO32ac {
 border-bottom: 1px solid #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE) .VGIWXd,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE) .VGIWXd {
 color: #1967d2;
 fill: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).yJ0xsb,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).yJ0xsb,.DShyMc-MTY4MzI3NjgyNTZa .n8cSsc.yJ0xsb {
 background-color: #1967d2;
 box-shadow: 0px 2px 1px -1px #1967d233, 0px 1px 1px 0px #1967d223, 0px 1px 3px 0px #1967d21e;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).yJ0xsb:hover,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).yJ0xsb:hover,.DShyMc-MTY4MzI3NjgyNTZa .n8cSsc.yJ0xsb:hover {
 box-shadow: 0px 3px 5px -1px #1967d233, 0px 6px 10px 0px #1967d223, 0px 1px 18px 0px #1967d21e;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).aS18D,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).aS18D {
 background-color: #1967d2;
 box-shadow: 0 1px 2px 0 #1967d24c, 0 2px 6px 2px #1967d226;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).aS18D:hover,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).aS18D:hover {
 box-shadow: 0 2px 3px 0 #1967d24c, 0 6px 10px 4px #1967d226;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).Rp4yn,.DShyMc-MTY4MzI3NjgyNTZa .SYbayd.Rp4yn {
 color: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa .I12f0b:not(.RDPZE).vBmPnb,.DShyMc-MTY4MzI3NjgyNTZa .Y5FYJe:not(.RDPZE).vBmPnb {
 color: #1967d2;
 fill: #1967d2;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb.qs41qe,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc.qs41qe {
 box-shadow: 0px 2px 1px -1px #1967d233, 0px 1px 1px 0px #1967d223, 0px 1px 3px 0px #1967d21e;
 ;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb.Rp4yn .MbhUzd,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc.Rp4yn .MbhUzd {
 background-image: radial-gradient( circle farthest-side,#1967d228,#1967d228 80%,#1967d200 100% );
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn:hover,.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn.u3bW4e,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).Rp4yn:hover,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).Rp4yn:hover.u3bW4e,.DShyMc-MTY4MzI3NjgyNTZa .SYbayd.Rp4yn:hover,.DShyMc-MTY4MzI3NjgyNTZa .SYbayd.Rp4yn:focus {
 background-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn.uf4KAe:hover,.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn.uf4KAe.u3bW4e {
 border-color: #4285f4b2;
}
.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn:hover .CeoRYc,.DShyMc-MTY4MzI3NjgyNTZa .p0oLxb:not(.RDPZE).Rp4yn.u3bW4e .CeoRYc,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).Rp4yn:hover .CeoRYc,.DShyMc-MTY4MzI3NjgyNTZa .UQuaGc:not(.RDPZE).Rp4yn.u3bW4e .CeoRYc {
 background-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .AeAAkf:not(.RDPZE).Rp4yn:hover,.DShyMc-MTY4MzI3NjgyNTZa .AeAAkf:not(.RDPZE).Rp4yn.u3bW4e {
 border-color: #e8f0fe;
}
.DShyMc-MTY4MzI3NjgyNTZa .aiSeRd:not(.RDPZE).Z3fJd.N2RpBe,.DShyMc-MTY4MzI3NjgyNTZa .aiSeRd:not(.RDPZE).Z3fJd.B6Vhqe {
 border-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .aiSeRd:not(.RDPZE).Z3fJd:hover .MbhUzd,.DShyMc-MTY4MzI3NjgyNTZa .aiSeRd:not(.RDPZE).Z3fJd:focus .MbhUzd,.DShyMc-MTY4MzI3NjgyNTZa .aiSeRd:not(.RDPZE).Z3fJd.N2RpBe .MbhUzd.DShyMc-MTY4MzI3NjgyNTZa .aiSeRd:not(.RDPZE).Z3fJd.i9xfbb .MbhUzd {
 background-color: #1967d214;
}
.DShyMc-MTY4MzI3NjgyNTZa .fWf7qe:not(.RDPZE).iRwb3 .tL9Q4c {
 caret-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .fWf7qe:not(.RDPZE).iRwb3 .cXrdqd {
 background-color: #4285f4;
}
.DShyMc-MTY4MzI3NjgyNTZa .fWf7qe:not(.RDPZE).iRwb3.u3bW4e .snByac {
 color: #1967d2;
}
